.client-header-container {
    width   : 100%;
    position: fixed;
    z-index : 1000;

    .header-message {
        margin-left: auto;
    }

    // icon mặc định
    .header-message-icon,
    .header-notification-icon,
    .header-cart-icon,
    .header-setting-icon {
        color     : #faad14;
        transition: color 0.15s;
    }

    // text mặc định
    .ant-menu-title-content {
        color     : #faad14;
        transition: color 0.0001s !important; // đồng bộ với icon
    }

    // icon mặc định
    .ant-menu-item .header-home-icon,
    .ant-menu-item .header-product-icon,
    .ant-menu-item .header-about-icon {
        color   : #faad14;
        // width: 20px;
    }

    // tắt transition mặc định của AntD menu item wrapper
    .ant-menu-item,
    .ant-menu-submenu-title {
        transition: none !important;
    }



    // hover trên cả Menu.Item (áp dụng cho text + icon)
    .ant-menu-item:hover,
    .ant-menu-submenu-title:hover {

        .ant-menu-title-content,
        .header-home-icon,
        .header-product-icon,
        .header-about-icon,
        .header-message-icon,
        .header-notification-icon,
        .header-cart-icon,
        .header-setting-icon {
            color: wheat !important;
        }
    }

    // item đang được chọn (áp dụng cho text + icon)
    :where(.css-dev-only-do-not-override-l9pxc0).ant-menu-light .ant-menu-item-selected,
    :where(.css-dev-only-do-not-override-l9pxc0).ant-menu-light>.ant-menu .ant-menu-item-selected {

        // text
        .ant-menu-title-content {
            color: #faad14 !important;
        }

        // icon
        .header-home-icon,
        .header-product-icon,
        .header-about-icon,
        .header-message-icon,
        .header-notification-icon,
        .header-cart-icon,
        .header-setting-icon {
            color: #faad14 !important;
        }

        &:hover {

            .ant-menu-title-content,
            .header-home-icon,
            .header-product-icon,
            .header-about-icon,
            .header-message-icon,
            .header-notification-icon,
            .header-cart-icon,
            .header-setting-icon {
                color: #faad14 !important;
            }
        }
    }

    // lích thước chữ bên trái
    a.text-decoration-none {
        font-size  : 18px;
        font-family: 'Times New Roman', Times, serif;
    }

    // Input (bên trái) thanh tìm kiếm
    .ant-input-affix-wrapper {
        background   : #dae3d5 !important;
        border-radius: 24px 0 0 24px !important;
        border       : none !important;

        &:focus,
        &.ant-input-affix-wrapper-focused {
            border-color: transparent !important;
            box-shadow  : none !important;
            outline     : none !important;
        }
    }

    // Button (bên phải) thanh tìm kiếm
    .ant-btn.css-var-root.ant-btn-default.ant-btn-color-primary.ant-btn-variant-solid.ant-btn-lg.ant-btn-compact-item.ant-btn-compact-last-item.ant-input-search-btn {
        background   : #dae3d5;
        border-radius: 0 24px 24px 0; // bo tròn bên phải
        border-left  : none; // bỏ viền trái để khớp với input
    }

    // nền header 1
    .ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light.css-var-root.ant-menu-css-var {
        background: #1A2733;
    }

    // nền header 2
    .ant-row.ant-row-space-between.ant-row-middle.css-var-root {
        background: #1A2733;
    }

    span.anticon.anticon-ellipsis {
        color: #faad14;
    }
}