.client-layout-container {
    display       : flex;
    flex-direction: column;
    padding-top   : 0px;
    padding-left  : 0px;
    padding-right : 0px;
    font-family   : 'Times New Roman',
        Times,
        serif;
    width     : 100%;
    min-height: 100vh;
    overflow  : hidden;

    // body
    .client-main-container {
        flex   : 1;
        height : 100%;
        width  : 100%;
        margin : 0;
        padding: 0;
    }

}