html,
body {
    padding    : 0;
    margin     : 0;
    width      : 100%;
    height     : 100%;
    font-size  : 16px;
    font-family: 'Times New Roman', Times, serif;
}

// khi co lại trên mobile sẽ cho cuộn
@media(max-width: 768px) {

    html,
    body {
        overflow-y: auto;
    }

}

/*
Màu nền:

#1A2733

Màu tiêu đề và mục lớn:
#faad14

Màu chữ
wheat

*/