html,
body {
    padding    : 0;
    margin     : 0;
    width      : 100%;
    height     : 100%;
    font-size  : 16px;
    font-family: 'Times New Roman', Times, serif;
}

/*
Màu nền
#1B4965
màu Tiêu đề và icon
#F0F4F8
màu chữ
#2EC4B6
*/